<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="../assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>
<div id="wrapper">
    <!-- 头部 -->
    <nav class="navbar navbar-default top-navbar" role="navigation" th:replace="menu::MyTopMenu">

    </nav>
    <!--/. NAV TOP  -->
    <!-- 菜单栏 -->
    <nav class="navbar-default navbar-side" role="navigation" th:replace="menu::MySideMenu">

    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                个人信息
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a th:href="@{/goSellerindex}">主页</a>
                </li>
                <li class="active">我的信息
                    
                </li>
            </ol>
        </div>

        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">
                        <form role="form" method="post">
                            <div class="form-group" style="font-size: 20px;">
                                <table class="table table-responsive" th:each="seller:${list}">
                                    <tr>
                                        <th>借卖方名称</th>
                                        <th>联系方式</th>

                                    </tr>

                                    <tr >
                                        <td width="50%" th:text="${seller.Seller_Name}"></td>
                                        <td width="50%" th:text="${seller.Phone}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary btn-lg"
                                               th:href="@{'/updateSellerInfoById/'+${seller.Id}}">修改</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

        <footer>
            <p>Copyright &copy; 2018.ColorDetails All rights reserved.</p>
        </footer>
    </div>

    <!-- /. PAGE INNER  -->
</div>
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="../assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="../assets/js/morris/morris.js"></script>


<script src="../assets/js/easypiechart.js"></script>
<script src="../assets/js/easypiechart-data.js"></script>

<script src="../assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="../assets/js/custom-scripts.js"></script>

<script>

</script>

</body>

</html>